<md-content layout-xs="column" layout="row">
    <div flex="60" layout="column">
        <md-card class="default-card">           
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"><a href="https://ocul.on.ca/omni/"><img src="custom/01OCUL_GUE-GUELPH/img/gue-omni-logo-black.svg" alt="Omni logo" width="200" height="62"></a></span>                    
                </md-card-title-text>
            </md-card-title>

            <md-card-content>                                        
                <p>
                    <a href="https://ocul.on.ca/omni/">Omni</a> is the easy-to-use academic search tool that gives you access to high-quality resources from participating Ontario university libraries.
                    <ul>
                        <li>Powerful search tool for discovery and in-depth research</li>
                        <li>Quick and streamlined access to resources</li>
                        <li>Intuitive mobile-friendly user experience</li>
                    </ul>
                </p>
                <p>Sign in for full access to content, features, and your library account.</p>
            </md-card-content>
        </md-card>
        
    </div>
    <div flex-xs flex="40" layout="column">
            <md-card class="default-card">                    
                    <md-card-content>
                        <h2>Where can I get Omni help?</h2>
                        <p>
                            Learn more about <a href="https://guides.lib.uoguelph.ca/Omni/">searching Omni</a>.
                        </p>
                        <p>                                
                            Questions? You can <a href="https://www.lib.uoguelph.ca/ask-us/">Ask Us</a> anytime.
                        </p>
                        <p>
                            <a href="https://www.lib.uoguelph.ca/using-library/borrowing/">Learn more about how to request items</a>.
                        </p>
                    </md-card-content>
            </md-card>               
    </div>            
</md-content>

<md-content layout-xs="column" layout="row">
    <div flex-xs flex="100" layout="column">
        <md-card class="default-card">                    
            <md-card-content>
                <h2>Harmful Language Statement</h2>
                <p>
                    McLaughlin Library is committed to using language that is inclusive and respectful across all our services and platforms. We acknowledge the presence of problematic language within the bibliographic descriptions in Omni. We are working to update our records and procedures to create a catalogue that reflects our commitment to equity, diversity, and inclusion.
                </p>                    
                <p>
                    <a href="https://www.lib.uoguelph.ca/about/about-library/statement-harmful-language-mclaughlin-librarys-catalogue-omni/">Learn more about how we’re addressing harmful language in our catalogue</a>.
                </p>
            </md-card-content>
        </md-card>               
    </div>        
</md-content>
    