/* Hide Tags in Detailed Display */ 
[aria-label="Tags"]{display:none;} 
#tags{display:none;} 

/*--------Top Banner ---------------*/

/*Top Banner Background Color */
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1 {
	background-color: #404040; 
}

/*-----User Area -------*/
  /*UserName Guest */
prm-user-area .user-name {
    text-transform: none;
    font-weight: 600;
    color: #fff!important;
    text-align: left;
    max-width: 80px;
}

/*background for Guest Button And Icon */
.prm-primary-bg.prm-hue2, prm-main-menu[menu-type=full] md-backdrop, prm-search-bookmark-filter .md-button, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-user-area, prm-user-area md-fab-trigger>.md-button .md-fab-toolbar-background {
    background-color: #404040;
}

  /*Hover */
  /*NAV BAR REGULAR button hover */
  prm-topbar .md-button:focus, prm-topbar .md-button:hover {
      color: #fff !important;
      background-color: BLACK !important;
      box-shadow: none;
  }

  prm-user-area .user-menu-button .user-name {
      text-transform: none;
      font-weight: 600;
      color: BLACK;
      text-align: left;
      max-width: 150px;
  }

/*  TOPBAR - USER AREA - HOVER COLOR */
  md-fab-toolbar md-toolbar {
      background-color: #404040 !important;
      pointer-events: none;
      z-index: 23;
  }
  
/*Top Bar- User Area - Button Link Color - On Hover */
/*Language Button hover */

prm-topbar .md-button {
  color: #fff !important;
  text-transform: none;
  height: 100%;
  border-radius: 0;
  margin: 0;
}

prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy {
    color: #fff;
    height: 100%;
}

/*User Area - Hover - Button  Color - My Library Card*/
prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]) {
    color: BLACK;
}

prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]) {
      color: BLACK;
  }

  /*User Area - Hover - Button on Hover Color - My Library Card*/
prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]):hover, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]):hover {
    background-color: #eee;
    color: #fff;
    box-shadow: none!important;
}

/*Language Label - On Hover */
prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select:hover, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container .md-input-container-dummy:hover {
    color: #fff; /*Language - English- Text Color */
    background-color: BLACK; /*background-color for English Label*/
    height: 100%;
}

/*Search Bar Wrapper color */
  prm-search-bar, prm-atoz-search-bar, prm-journals-search-bar, prm-browse-search-bar, prm-tags-search-bar {
    background-color: BLACK; 
 } 

/*Facets Link Color */
.section-title prm-icon {
    color: BLACK;
}

.link-alt-color, .md-button.button-as-link.link-alt-color, .section-title prm-icon {
    color: BLACK;
}

/*Details Tab Link and Icon Color */

.prm-primary-color, .result-item-actions .custom-button, .result-item-actions .more-options-button, .md-autocomplete-suggestions .suggestion-scope, md-tab-content .tab-content-header md-input-container md-select-value .md-text {
    color: BLACK; 
}
	
	
/*Links*/
a, .md-button.arrow-link-button .button-content {
  color: BLACK;
}

/*make the banner links larger*/
prm-main-menu[menu-type=menu] .md-button
{
Font-size: 0.85em !important;
}

/*Capitalize main menu Links */
prm-main-menu a
{
  text-transform: uppercase !important;  
}

/*Capitalize main menu Links */
prm-main-menu a
{
  text-transform: uppercase !important;  
}

/* hide expand results
md-checkbox[aria-label="Add results beyond U of G's collection"] {
  display:none;
}

md-checkbox[aria-label="Expand beyond library collections"] {
  display:none;
}

md-switch[aria-label="Add results beyond U of G's collection"] {
    display:none;
  }

md-switch[aria-label="Expand beyond library collections"] {
    display:none;
}

md-switch[aria-label="Activate expand my results"] {
    display:none;
}

div.search-fulltext-ctm {
    display:none;    
}
*/

/* colour ALL links */
a {
  color: #2174BB;  
}

a:hover, a:focus {
  color: #2174BB;  
  box-shadow: none;
  text-decoration: underline;
}

.multiselect-facet-group.multiselect-inactive .md-chip md-checkbox {  
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transform: scaleX(1);
    transition: all 0s 0s;    
}

/* accounts msg */
.ug-account-msg {  
  font-size: 1.5em;
  text-overflow: ellipsis;
  padding-left: 24px;
}

/* style OUR Area on full display */
.ug-our-usage {
  font-weight: bold;
  font-size: 1.2em;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.ug-our-yes {
  background-image: initial;
  background-color: #0f7d00;
  color: #fff;  
  border-color: rgb(63, 63, 63);
}

.ug-our-no {
  background-image: initial;
  background-color: #C20430;  
  color: #fff;  
  border-color: rgb(63, 63, 63);
}

.ug-our-ask {
  background-image: initial;
  background-color: #FFC72A;
  color: #000000;  
  border-color: rgb(63, 63, 63);
}

/* remove refwork references from menu */
.my-refworks-ctm {
  display:none !important;
}

.my-refworks-separator-ctm {
  display:none !important;
}

/* homepage */

/* OMNI logo on homepage */
md-card > :not(md-card-content) img,
md-card > img {
  max-width: 300px;
}

/* column width on homepage */
.flex-60,
.layout-row > .flex-60 {
  max-width: 100%;
}

.flex-40,
.layout-row > .flex-40 {
  max-width: 100%;
}

/* main logo and header */
prm-topbar prm-logo {
  max-width: none;    
}
 
prm-logo .product-logo {
  padding: 0;
}
 
#banner {
  width: 280px;
}
 
#banner a:last-of-type {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.5em 0.75em;  
}
 
/* REPORT AN ISSUE */

#ug-report-issue-div {
  margin-top:-8px;
}

/* On the report an issue form, have the labels not move into input field, ie. don't transalte */
.ug-report-issue-form-wrapper md-input-container label:not(.md-no-float):not(._md-container-ignore) {
  transform: none;
}

/* used to hide search UI report an issue button, which is then moved */
.ug-display-none {
  display:none;
}

/* handle report an issue mobile dislay adjustments, wrap labels */
.ug-report-input-container label{
  white-space: normal !important;
}

prm-search-result-list .search-results-container {
  margin-top: 2.7em;
}

.ug-report-msg-div {
  text-align: center;
}

.ug-report-msg-div-search {
  text-align: center;
  Font-size: 0.85em;
}

.ug-report-msg-div-search .md-button{
  text-align: center;
  Font-size: 1.0em;
}

.ug-report-issue-in-form-div h4 {
  margin-top: 0;
  margin-bottom: 1.0em;
}

/* handle askus popout */
#askus-popout {
  position: fixed;  
  bottom: -19em;
  right: 5em;
  border-radius: 5px 5px 0 0;
  width: 17em;
  transition: all .2s ease-in-out;
  box-shadow: 3px 3px 10px rgba(185, 185, 185, 0.4);
  border: 1px solid rgba(185, 185, 185, 0.8);
  background-color: white;
  z-index: 99;
}

@media(max-width: 600px) {
  #askus-popout {
      right: 50%;
      width: 17em;
      margin-right: -9em;
  }
  
}

#askus-popout:hover, 
#askus-popout:focus,
#askus-popout[data-askus-popout-state="collapsed"]:hover,
#askus-popout[data-askus-popout-state="collapsed"]:focus {  
  bottom: -18.8em;
  
}

#askus-popout[data-askus-popout-state="collapsed"] {  
  bottom: -19em;
  width: 9em;  
}

#askus-popout[data-askus-popout-state="expanded"] {
  bottom: 0em;
  width: 17em;  
}

#askus-popout .askus_tab {
  display: flex;
  flex-direction: column;
  align-items: center;   
}

#askus-popout[data-askus-popout-state="expanded"] ul {
  width: inherit;
  visibility: visible;
}

#askus-popout[data-askus-popout-state="collapsed"] ul {  
  width: 18em;
  visibility: hidden;
}

#askus-popout a.tab-head img {
  height: 1.4em;
  margin-right: 0.5em;
}

#askus-popout a.tab-head {
  color: white;
  background-color: #C20430;
  margin-bottom: 0.4em;
  padding-top: 0.5em;
  padding-bottom: 0.75em;
  margin-left: 0;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
}

#askus-popout ul {
  padding-left: 0;     
}

#askus-popout ul li {
  list-style: none;   
}

/* END askus popout */

@media only screen and (min-device-width : 768px) {
  .ug-search-report-bar {
    margin-top:6px;
    margin-left:10px;  
  }

  .ug-report-issue-in-form-div {
    margin-left: 2.0em;
    margin-right: 2.0em;
  }

  .ug-report-div-search-mb {
    text-align: center;
    border: 5px solid;
    display:none;
  }

  #banner {
    width: 280px;
  }

  prm-topbar prm-logo {
    max-width: none;
    width: 280px;
  }
 
  #mainMenu a:last-of-type {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.5em 0.75em;  
  }  
}

/* limits in mobile portrait modes */
@media only screen and (max-device-width : 480px) {
  /* hide the report ieeue button on phone / small mobile */
  #ug-report-issue-search-button-div {
    display:none;
  }

  .ug-report-issue-in-form-div {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }

  .ug-report-issue-in-form-div h4 {
    margin-top: 0;
    margin-bottom: 1.0em;
  }

  .ug-report-issue-in-form-div md-input-container {
    margin: 38px 0;
  }

  .ug-report-div-search-mb {
    text-align: center;
    border: 5px solid;
    display:block;
  }

  #banner {
    width: 220px;
  }

  prm-topbar prm-logo {
    max-width: none;
    width: 220px;
  }

  #mainMenu a:last-of-type {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.5em 0.75em;
  }
  
  #favorites-button {
    display: block;
    width: 30px;
  }
}

/* limits in mobile portrait modes */
@media only screen and (max-device-width : 680px) {
  /* hide the report ieeue button on phone / small mobile */
  #ug-report-issue-search-button-div {
    display:none;
  }

  .ug-report-issue-in-form-div {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }

  .ug-report-issue-in-form-div h4 {
    margin-top: 0;
    margin-bottom: 1.0em;
  }

  .ug-report-issue-in-form-div md-input-container {
    margin: 38px 0;
  }

  .ug-report-div-search-mb {
    text-align: center;
    border: 5px solid;
    display:block;
  }

  #banner {
    width: 220px;
  }

  prm-topbar prm-logo {
    max-width: none;
    width: 220px;
  }

  #mainMenu a:last-of-type {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.5em 0.75em;
  }
  
  #favorites-button {
    display: block;
    width: 30px;
  }
}

/* hide the sign in alert bar */ 
prm-search > prm-alert-bar {
    display: none;
}

/* hi-res portrait */
@media only screen and (max-device-width : 812px) and (orientation : portrait) {
  /* hide the report ieeue button on phone / small mobile */
  #ug-report-issue-search-button-div {
    display:none;
  }

  .ug-report-issue-in-form-div {
    margin-left: 1.0em;
    margin-right: 1.0em;
  }

  .ug-report-div-search-mb {
    text-align: center;
    border: 5px solid;
    display:block;
  }

  #banner {
    width: 220px;
  }

  prm-topbar prm-logo {
    max-width: none;
    width: 220px;
  }

  #mainMenu a:last-of-type {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.5em 0.75em;
  }
  
  #favorites-button {
    display: block;
    width: 30px;
  }
}

/********** START OF PICKUP CSS **********/

/*Hide select Omni locations on the REQUEST FORM in Alma*/
/*makes sure that external patrons can't see weird locations at other Omni partners to request items to be sent to*/
/*remove the section for your own institution from this set below so that these locations show up for your LOCAL patrons*/

/*Algoma Request Form*/
/*no locations hidden*/

/*Brock Request Form*/
md-option[value="112034360005152$$OUT_OF_INSTITUTION"] { display: none; } /*IRC Hamilton*/
md-option[value="112034740005152$$OUT_OF_INSTITUTION"] { display: none; } /*IRC STC*/
md-option[value="2318595710005152$$OUT_OF_INSTITUTION"] { display: none; } /*Makerspace*/
md-option[value="1257805430005152$$OUT_OF_INSTITUTION"] { display: none; } /*Map Library*/
md-option[value="507397600005152$$OUT_OF_INSTITUTION"] { display: none; } /*Marilyn I Walker School of Fine and Performing Arts*/
md-option[value="1257805430005152$$OUT_OF_INSTITUTION"] { display: none; } /*Pedagogical*/

/*Carleton Request Form*/
md-option[value="8602059240005153$$OUT_OF_INSTITUTION"] { display: none; } /*Mail Delivery*/
md-option[value="8602058720005153$$OUT_OF_INSTITUTION"] { display: none; } /*curbside pick-up*/

/*Guelph Request Form*/
/*no locations hidden*/

/*Lakehead Request Form*/
md-option[value="112034460005155$$OUT_OF_INSTITUTION"] { display: none; } /*Law Library*/

/*Laurentian Request Form*/
md-option[value="112077800005165$$OUT_OF_INSTITUTION"] { display: none; } /*Education Resource Centre*/
md-option[value="112077420005165$$OUT_OF_INSTITUTION"] { display: none; } /*Architecture*/

/*McMaster Request Form*/
md-option[value="162413310007371$$OUT_OF_INSTITUTION"] { display: none; } /*MapCollection*/
md-option[value="162414450007371$$OUT_OF_INSTITUTION"] { display: none; } /*ArchivesAndResearchCollection*/
md-option[value="162414070007371$$OUT_OF_INSTITUTION"] { display: none; } /*BertrandRussellArchives*/
md-option[value="162412170007371$$OUT_OF_INSTITUTION"] { display: none; } /*Health Sciences Library*/

/*Nipissing Request Form*/
md-option[value="2180891240005157$$OUT_OF_INSTITUTION"] { display: none; } /*VIRTUAL*/
md-option[value="112034360005157$$OUT_OF_INSTITUTION"] { display: none; } /*Commerce Court Library*/
md-option[value="2705194110005157$$OUT_OF_INSTITUTION"] { display: none; } /*Test*/

/*OCADU Request Form*/
/*no locations hidden*/

/*Ontario Tech Request Form*/
md-option[value="112026640005160$$OUT_OF_INSTITUTION"] { display: none; } /*Whitby*/
md-option[value="37093253850005160$$OUT_OF_INSTITUTION"] { display: none; } /*Home Delivery*/

/*Queen's Request Form*/
/*no locations hidden*/

/*Trent Request Form*/
/*no locations hidden*/

/*U of Ottawa Request Form*/
md-option[value="112023650005161$$OUT_OF_INSTITUTION"] { display: none; } /*UOHI-Berkman*/

/*U of Waterloo Request Form*/
md-option[value="3369615780005162$$OUT_OF_INSTITUTION"] { display: none; } /*Musagetes Book Pickup*/
md-option[value="3369628040005162$$OUT_OF_INSTITUTION"] { display: none; } /*Milton Good Book Pickup*/
md-option[value="2811705780005162$$OUT_OF_INSTITUTION"] { display: none; } /*Dana Porter Book Pickup*/
md-option[value="3399246160005162$$OUT_OF_INSTITUTION"] { display: none; } /*Books By Mail*/

/*U of Windsor Request Form*/
md-option[value="147948340002181$$OUT_OF_INSTITUTION"] { display: none; } /*Paul Martin Law Library*/

/*Western University Request Form*/
md-option[value="112035590005163$$OUT_OF_INSTITUTION"] { display: none; } /*ERC*/
md-option[value="112036730005163$$OUT_OF_INSTITUTION"] { display: none; } /*ILL Staff Only*/

/*Wilfrid Laurier Request Form*/
md-option[value="3122891110005156$$OUT_OF_INSTITUTION"] { display: none; } /*Mail on Demand*/
md-option[value="112036500005156$$OUT_OF_INSTITUTION"] { display: none; } /*Wilfrid Laurier University Library at Kitchener*/

/*York Request Form*/
md-option[value="8188056800005164$$OUT_OF_INSTITUTION"] { display: none; } /*Keele Book Lockers*/
md-option[value="8188104370005164$$OUT_OF_INSTITUTION"] { display: none; } /*Glendon Book Lockers*/
md-option[value="9599265900005164$$OUT_OF_INSTITUTION"] { display: none; } /*Osgoode Book Lockers*/
md-option[value="112036150005164$$OUT_OF_INSTITUTION"] { display: none; } /*Osgoode Hall*/

/* And hide empty campuses in the Request Forms too */

/* Nipissing */
md-optgroup[label="Can-Campus"] > label { display: none; }

/* Waterloo */
md-optgroup[label="zz_No Longer In Use - Do Not Select"] > label { display: none; }

/* Wilfrid Laurier */
md-optgroup[label="Kitchener pickups for FSW students and staff only"] > label { display: none; }

/*...............................*/
/*...............................*/
/*...............................*/
/*...............................*/

/*Hide select Omni locations on the RESOURCE SHARING REQUEST FORM in Alma*/
/*makes sure that external patrons can't see weird locations at other Omni partners to request items to be sent to*/

/*Algoma Resource Sharing Request Form*/
/*no locations hidden*/

/*Brock Resource Sharing Request Form*/
md-option[value="112034360005152"] { display: none; } /*IRC Hamilton*/
md-option[value="112034740005152"] { display: none; } /*IRC STC*/
md-option[value="2318595710005152"] { display: none; } /*Makerspace*/
md-option[value="1257805430005152"] { display: none; } /*Map Library*/
md-option[value="507397600005152"] { display: none; } /*Marilyn I Walker School of Fine and Performing Arts*/
md-option[value="1257805430005152"] { display: none; } /*Pedagogical*/

/*Carleton Resource Sharing Request Form*/
md-option[value="8602059240005153"] { display: none; } /*Mail Delivery*/
md-option[value="8602058720005153"] { display: none; } /*Mail Delivery*/

/*Guelph Resource Sharing Request Form*/
/*no locations hidden*/

/*Lakehead Resource Sharing Request Form*/
md-option[value="112034460005155"] { display: none; } /*Law Library*/

/*Laurentian Resource Sharing Request Form*/
md-option[value="112077800005165"] { display: none; } /*Education Resource Centre*/
md-option[value="112077420005165"] { display: none; } /*Architecture*/

/*McMaster Resource Sharing Request Form*/
md-option[value="162413310007371"] { display: none; } /*MapCollection*/
md-option[value="162414450007371"] { display: none; } /*ArchivesAndResearchCollection*/
md-option[value="162414070007371"] { display: none; } /*BertrandRussellArchives*/
md-option[value="162412170007371"] { display: none; } /*Health Sciences Library*/

/*Nipissing Resource Sharing Request Form*/
md-option[value="2180891240005157"] { display: none; } /*VIRTUAL*/
md-option[value="112034360005157"] { display: none; } /*Commerce Court Library*/
md-option[value="2705194110005157"] { display: none; } /*Test*/

/*OCADU Resource Sharing Request Form*/
/*no locations hidden*/

/*Ontario Tech Resource Sharing Request Form*/
md-option[value="112026640005160"] { display: none; } /*Whitby*/
md-option[value="37093253850005160"] { display: none; } /*Home Delivery*/

/*Queen's Resource Sharing Request Form*/
/*no locations hidden*/

/*Trent Resource Sharing Request Form*/
/*no locations hidden*/

/*U of Ottawa Resource Sharing Request Form*/
md-option[value="112023650005161"] { display: none; } /*UOHI-Berkman*/

/*U of Waterloo Resource Sharing Request Form*/
md-option[value="3369615780005162"] { display: none; } /*Musagetes Book Pickup*/
md-option[value="3369628040005162"] { display: none; } /*Milton Good Book Pickup*/
md-option[value="2811705780005162"] { display: none; } /*Dana Porter Book Pickup*/
md-option[value="3399246160005162"] { display: none; } /*Books By Mail*/

/*U of Windsor Resource Sharing Request Form*/
md-option[value="147948340002181"] { display: none; } /*Paul Martin Law Library*/

/*Western University Resource Sharing Request Form*/
md-option[value="112035590005163"] { display: none; } /*ERC*/
md-option[value="112036730005163"] { display: none; } /*ILL Staff Only*/

/*Wilfrid Laurier Resource Sharing Request Form*/
md-option[value="3122891110005156"] { display: none; } /*Mail on Demand*/
md-option[value="112036500005156"] { display: none; } /*Wilfrid Laurier University Library at Kitchener*/

/*York Resource Sharing Request Form*/
md-option[value="8188056800005164"] { display: none; } /*Keele Book Lockers*/
md-option[value="8188104370005164"] { display: none; } /*Glendon Book Lockers*/
md-option[value="9599265900005164"] { display: none; } /*Osgoode Book Lockers*/
md-option[value="112036150005164"] { display: none; } /*Osgoode Hall*/
/********** END OF PICKUP CSS **********/

/* hide Photocopy on resource sharing form */
div > md-radio-button[value=PHYSICAL_NON_RETURNABLE] {
    display:none;
}

/* change the quick link colour */
prm-quick-link a span, .fulltext, .availability-status {
  color: #2174BB;
}

/* Make "Not available" text non-grey */
.availability-status.no_inventory, 
.availability-status.no_fulltext,
.availability-status.unavailable {
  color: #2174BB !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

/* Adjust Full Display  Alma other members label, remove bold and ALL CAPS */
/* change discovery label nui.brief.results.tabs.getit_other to Omni Libraries that own this item */ 
#alma_other_members .medium-uppercase-bold {
    text-transform: none;
    font-size: 1em;
    font-weight: normal;
    padding: 0em 1.8em;
    margin-bottom: 0em;
}

/* indent the other institutions under the Omni Libraries that own this item heading */
prm-alma-other-members md-list-item {
    padding: 0em 3em !important;
}

/* Move the arrow beside the text instead of far right of button */
md-list-item > button .layout-column.flex-xs-100.flex {
    flex: none;
}

/* hide the !service.publicNote.length area within the Get it from another Library button*/ 
md-list-item > button .layout-column.flex-xs-100.flex span:nth-child(2){
    display: none;
  }

  /* override focused css on alma other members - should only display on hover */ 
prm-alma-other-members .md-button.md-focused:not([disabled]), prm-alma-other-members .md-button._md-focused:not([disabled]), prm-alma-other-members .md-button.md-focused:not([disabled]), prm-alma-other-members .md-button:focus:not([disabled]) {
    color: #3a3a3a;
    background-color: transparent;
}

prm-alma-other-members .md-button:hover:not([disabled]) {
    color: rgba(0,0,0,.87);
    background-color: #e6e6e6;
}

/* style the resource sharing item request form button */
/* define borders better and contrast button area */
.full-view-section-content .separate-list-items md-list-item > .md-button {
    color: #000;
    background-color: #f7eda3;    
    box-shadow: 5px 5px 10px rgba(185, 185, 185, 0.6); 
    border: 1px solid rgba(0, 0, 0, 100%);
}

.full-view-section-content .separate-list-items md-list-item > .md-button:hover {
    color: #fff !important;
    background-color: #353535 !important;
    box-shadow: 5px 5px 10px rgba(185, 185, 185, 0.6);
    border: 1px solid rgba(0, 0, 0, 100%);
}

/* Override the red checkbox text. This class may be on initial checkbox text by accident */
prm-form-field .checkbox-warning-message {
    color: inherit;
}